.Contents {
    width: calc(100% - 32rem);
    min-height: 100vh;
    padding: 1.6rem 1.6rem 4rem;
    box-sizing: border-box;
}

.Contents.aside_close {
    width: 100%;
}

.Contents_left_wrapper {
    gap: 1.6rem;
}

.Contents_right_wrapper {
    gap: 0.8rem;
}

.Contents.aside_close .Contents_aside_wrapper {
    display: flex;
    gap: 0.8rem;
}

.Contents_aside_wrapper {
    display: none;
}

.Contents_aside_branch_picker,
.Contents_aside_textInput_wrapper {
    gap: 0.8rem;
    height: 3.2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.6rem;
    box-sizing: border-box;
}

.Contents_aside_branch_picker {
    position: relative;
    width: 11.985rem;
    padding: 0 1.2rem;
    box-sizing: border-box;
    background: var(--bg-color);
}

.Contents_aside_branch_picker .oction_arrow {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
}

.Contents_navHeader_wrapper {
    justify-content: space-between;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
}

.Contents_navHeader_wrapper .Contents_navHeader_wrapper {
    margin-bottom: 0;
}

.Contents_navHeader {
    flex-flow: wrap;
}

.Contents_navHeader_list {
    position: relative;
    word-wrap: break-word;
}

.Contents_navHeader_list:not(:last-child) {
    margin-right: 1.3rem;
    color: #0969da;
}
.Contents_navHeader_list:not(:first-child)::after {
    clear: both;
    content: "/";
    display: block;
    position: absolute;
    top: 50%;
    left: -1.3rem;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-weight: normal;
    color: #000;
}

.Contents_navHeader_list:first-child {
    font-weight: bold;
}

.Contents_navHeader_list:last-child {
    margin-right: 1rem;
}

.Contents_aside_textInput_wrapper {
    gap: 0.8rem;
    max-width: 24.6rem;
    padding: 0 1.2rem;
}

.Contents .octicon_icon {
    font-size: 1.6rem;
}

.Contents .oction_filetreeopen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.6rem;
}

.Contents .oction_filetreeopen:hover {
    background: var(--bg-color);
}

.Contents .oction_filetreeopen .txt_filetreeopen {
    display: none;
}

.Contents .octicon_dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.6rem;
    box-sizing: border-box;
    background: var(--bg-color);
}

.Contents .octicon_code + .octicon_dot {
    display: none;
    border: none;
}

.Contents_middleInfo_wrapper {
    justify-content: space-between;
    height: 4.4rem;
    padding: 0.8rem 1.6rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.6rem;
    box-sizing: border-box;
}

.Contents_middleInfo_left {
    gap: 0.8rem;
}

.Contents_profile_img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: url(../assets/img/profile.jpg) center / cover no-repeat;
}

.ContentsP {
    color: var(--text-color);
}

.Contents_middleInfo_right {
    gap: 1.6rem;
}


.octicon_history {
    display: flex;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.4rem;
}

.octicon_history + b {
    font-size: 1.2rem;
}

.Contents_mainBox_wraaper {
    margin-top: 1.6rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.6rem;
    box-sizing: border-box;
    overflow: hidden;
}

.Contents_mainBox_top_wraaper {
    justify-content: space-between;
    padding: 0.8rem;
    background: var(--bg-color);
    border-bottom: 0.1rem solid var(--border-color);
}

.Contents_mainBox_topLeft_wraaper {
    gap: 0.8rem;
}

.Contents_segmentedControl_btn {
    height: 3rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    background: #eaeef2;
}

.Contents_segmentedControl_btn li {
    width: 50%;
    height: 100%;
    padding: 0.4rem 1.2rem;
    box-sizing: border-box;
    line-height: 1.4;
}

.Contents_segmentedControl_btn li.on {
    border: 0.1rem solid #000;
    border-radius: 0.4rem;
    background: #fff;
}

.Contents_mainBox_topRight_wraaper {
    gap: 0.8rem;
}

.Contents_styleBtn_wrapper {
    border: 0.1rem solid var(--border-color);
    border-radius: 0.6rem;
    box-sizing: border-box;
}

.Contents_styleBtn_wrapper .octicon_icon {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.2rem;
}

.Contents_styleBtn_wrapper .octicon_icon:not(:last-child) {
    border-right: 0.1rem solid var(--border-color);
}

.Contents_styleBtn_wrapper .octicon_raw {
    width: fit-content;
    padding: 0 0.8rem;
}

.Contents_mainBox_bottom_wraaper {
    position: relative;
    padding: 0.8rem;
}

.contents_title {
    line-height: 1;
    word-break: keep-all;
}



@media screen and (max-width: 1012px) {
    .Contents {
        width: 100%;
    }

    .Contents_left_wrapper {
        gap: 1.6rem;
    }

    .Contents_aside_wrapper {
        display: flex;
        gap: 0.8rem;
    }

    .Contents_aside_branch_picker {
        position: relative;
        width: 11.985rem;
    }

    .Contents_aside_textInput {
        width: 100%;
        border: none;
    }

    .Contents_aside_textInput_icon {
        height: 1.8rem;
        background: var(--bg-color);
        border: 0.1rem solid var(--border-color);
        border-radius: 0.6rem;
        box-sizing: border-box;
    }

    .Contents_right_wrapper {
        gap: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .Aside.aside_open + .Contents {
        overflow-y: hidden;
    }

    .Contents_aside_textInput_wrapper {
        display: none;
    }

    .Contents_mainBox_bottom_wraaper {
        padding-right: 2rem;
    }

    .Contents_middleInfo_right .ContentsP span,
    .octicon_history + b  {
        display: none;
    }

    .Contents .oction_filetreeopen {
        width: 5.4rem;
    }

    .Contents .oction_filetreeopen svg {
        display: none;
    }

    .Contents .oction_filetreeopen .txt_filetreeopen {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 660px) {
    .Contents_navHeader_wrapper {
        align-items: flex-start;
    }

    .Contents_left_wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 560px) {
    .contents_title {
        font-size: 2rem;
    }

    .commitP,
    .Contents_mainBox_topLeft_wraaper .Contents_p,
    .Contents_styleBtn_wrapper {
        display: none;
    }

    .Contents .octicon_code + .octicon_dot {
        display: block;
    }
}