@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

:root {
	--bg-color : #f6f8fa;
	--border-color : #d0d7de;
    --text-color : #57606a;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,input {
    border: 0;
    background: inherit;
}

input:focus {
    outline: none;
}

textarea {
    overflow: auto;
    overflow-x: hidden;
    resize: none;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 8.4rem 1fr;
    word-break:break-all;
}

.no-scroll {
    overflow-y: hidden;
}

.red {
    color: #D84A53;
}

.brown {
    color: #953800;
}

.navy {
    color: #0A3069;
}

.blue {
    color: #2667B9;
}

.green {
    color: #399B53;
}

.highlight {
    background: rgb(255, 253, 145);
}

.padding4 {
    padding-left: 4rem;
}

.padding8 {
    padding-left: 8rem;
}

.padding12 {
    padding-left: 12rem;
}

.padding16 {
    padding-left: 16rem;
}

.padding20 {
    padding-left: 20rem;
}

.lineNumber {
    width: 8.4rem;
    padding-right: 4rem;
    box-sizing: border-box;
    text-align: right;
    line-height: 2rem;
}

.AppMain {
    display: flex;
}

.scroll .Aside {
    position: fixed;
}

.scroll .Contents {
    margin-left: 32rem;
}

.Contents_mainBox_bottom_wraaper {
    font-family: 'intelone-mono-font-family-regular', sans-serif;
    letter-spacing: -0.06rem;
}




@media screen and (max-width: 560px) {
    .grid {
        grid-template-columns: 4.4rem 1fr;
    }

    .padding4 {
        padding-left: 1rem;
    }
    
    .padding8 {
        padding-left: 2rem;
    }
    
    .padding12 {
        padding-left: 3rem;
    }
    
    .padding16 {
        padding-left: 4rem;
    }
    
    .padding20 {
        padding-left: 5rem;
    }

    .lineNumber {
        width: 4.4rem;
        padding-right: 2rem;
    }
}