.form_Area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

form {
    max-width: 80rem;
}

.input_wrapper {
    margin-bottom: 4rem;
}

form label {
    font-weight: bold;
    color: #8294E2;
}

.input_wrapper > input,
.form_textarea > textarea {
    width: 100%;
    height: 3.6rem;
    margin-top: 1.2rem;
    border-bottom: 0.2rem solid #8294E2;
}

.form_textarea > textarea {
    height: 20rem;
    margin-top: 2.4rem;
    border: 0.2rem solid #8294E2;
    box-sizing: border-box;
}

.submitBtn {
    display: block;
    margin: 4rem auto;
    padding: 2rem 4rem;
    background: #8294E2;
    font-weight: bold;
    color: #fff;
}





@media screen and (max-width: 768px) {
    .form_Area {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}