.readme_contents_wrapper {
    margin: 15rem 0 25rem;
}

.readme_contents_wrapper > * {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.readme_contents_wrapper h1 {
    position: relative;
    font-family: sans-serif;
    font-size: 6rem;
    font-weight: 900;
    color: #485083;
}

.readme_contents_wrapper h1::before {
    clear: both;
    content: "";
    display: block;
    position: absolute;
    top: -2rem;
    right: -2.3rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 5rem;
    background: rgba(130, 148, 266, 0.2);
    z-index: -1;
}

.readme_contents_wrapper p {
    margin-top: 2rem;
    font-size: 2rem;
    color: #757575;
}

.readme_contents_wrapper .text_line {
    max-width: 10rem;
    width: 50%;
    height: 0.2rem;
    margin: 4rem auto;
    background: #485083;
}

.readme_contents_wrapper  ul {
    justify-content: center;
    gap: 2.4rem;
}

.readme_contents_wrapper ul li {
    padding: 1.2rem 2.4rem;
    border: 0.2rem solid #8294E2;
    background: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    color: #8294E2;
}

.readme_contents_wrapper ul li:first-child {
    background: #8294E2;
    color: #ffffff;
}

.wave {
    position: absolute;
    bottom: -195vw;
    left: 40vw;
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    margin-top: -196vw;
    border-radius: 40%;
    background: #8294E2; 
    animation: wave 10000ms infinite linear;
    opacity: 0.5;
    z-index: -1;
}

.wave_two {
    background: #ffff53;
    animation: wave 13500ms infinite linear;
    opacity: 0.2;
}

.wave_three {
    background: #70c8ff;
    animation: wave 11000ms infinite linear;
    opacity: 0.3;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




@media screen and (max-width: 560px) {
    .readme_contents_wrapper h1 {
        font-size: 4rem;
    }

    .readme_contents_wrapper p {
        font-size: 1.4rem;
    }

    .readme_contents_wrapper ul {
        gap: 1.2rem;
    }

    .readme_contents_wrapper ul li {
        padding: 1.2rem;
        font-size: 1.4rem;
    }

    .wave {
        bottom: -175vw;
    }
}